/*========== general ==========*/

body {
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	background-image: url("images/hero1.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: auto;
}


/*========== sidebars ==========*/

.stats-box h2 {
	font-size: 40px;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
}

.stats-box h3 {
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
}

.info-box {
	border: 2px solid #000;
	border-radius: 4px;
	background: #fff;
	color: #000;
	padding: 5px;
	margin-left: 5px;
	font-weight: 100;
	text-shadow: none;
}

.defendButton {
	margin: 5px;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	border: 2px solid #1ea238;
	font-size: 1.25rem;
	color: #fff;
	cursor: pointer;
	outline: none;
	background: transparent;
}

.defendButton:hover {
	background: #1ea238;
	border: 2px solid #000;
}

.attackButton {
	margin: 5px;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	border: 2px solid #FF6F4F;
	font-size: 1.25rem;
	color: #fff;
	cursor: pointer;
	outline: none;
	background: transparent;
}

.attackButton:hover {
	background: #FF6F4F;
	border: 2px solid #000;
}

.rules-btn {
	font-family: 'Cinzel Decorative', cursive;
	display: insline-block;
	margin: 0 auto;
	width: 100px;
	height: 40px;
	background-color: #F7C48B;
	border-radius: 3px;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
	outline: none;
}

.rules-btn:hover {
	border: 2px solid #000;
	background: transparent;
}

.reset-btn {
	font-family: 'Cinzel Decorative', cursive;
	display: insline-block;
	margin: 0 auto;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	background: #d30c0c;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
	outline: none;
}

.reset-btn:hover {
	border: 2px solid #000;
	background: transparent;
}

#w-display-1 {
	max-width: 200px;
	max-height: 200px;
	transform: rotate(45deg);
	transition: transform 3s ease-in;
}

#w-display-2 {
	max-width: 200px;
	max-height: 200px;
	transform: rotate(-45deg);
}

.stats-box {
	border: 2px solid #000;
	border-radius: 5px;
	background-color: rgba(165, 214, 167, 0.3);
	margin: 0 auto;
	padding: 15px;
	height: 100%;
	min-width: 350px;
	min-height: 510px;
}

.stats-box .player-img {
	width: 150px;
}

.player-turn {
	border: 2px solid #d30c0c;
	background-color: rgba(165, 214, 167, 0.6);
	position: relative;
	bottom: 10px;
	box-shadow: 6px 14px 8px;
}

.defend-shield {
	width: 250px;
}

.defend-message {
    display: none;
    margin: 0 auto;
    text-align: center;
	width: 20%;
	color: #fff;
	font-size: 35px;
	padding: 10px;
	border: 2px solid #d30c0c;
	border-radius: 5px;
	background-color: rgba(165, 214, 167, 0.6);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
}

.music-credits {
	display: inline-block;
	position: relative;
	bottom: -140px;
	margin: 0 auto;
	color: #fff;
}

.music-credits a {
	color: #1ea238;
	text-decoration: none;
}

.music-credits a:hover {
	border-bottom: 2px solid #1ea238;
}

.player-rotate {
	transform: rotateY(180deg);
}


/*========== board ==========*/

#game {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.possible {
	background: rgba(165, 214, 167, 0.2);
	transition: 0.1s ease-in;
	cursor: pointer;
}

.possible:hover {
	background-image: url('images/steps.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	/* background: rgba(165,214,167, 0.3); */
}

.grid-container {
	box-sizing: border-box;
	display: block;
	display: grid;
	max-width: 720px;
	max-height: 720px;
	grid-template: repeat(10, 1fr)/repeat(10, 1fr);
	margin: 20px auto;
	background-image: url("images/grid-tile1.jpg");
	background-size: 70px;
}

.grid-item {
	border: 1px solid #000;
	width: 70px;
	height: 70px;
}

.bomb {
	background-image: url("images/bomb.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	margin: auto;
}

.potion {
	background-image: url("images/potion.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	margin: auto;
}

.block-one {
	background-image: url("images/block-one.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 70px;
	margin: auto;
}

.block-two {
	background-image: url("images/block-two.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 70px;
	margin: auto;
}

.block-three {
	background-image: url("images/block-three.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 70px;
	margin: auto;
}

.weapon-1 {
	background-image: url("images/dagger.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	margin: auto;
}

.weapon-2 {
	background-image: url("images/dagger-two.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 70px;
	margin: auto;
}

.weapon-3 {
	background-image: url("images/sword.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 70px;
	margin: auto;
}

.weapon-4 {
	background-image: url("images/hammer.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 70px;
	margin: auto;
}

.weapon-5 {
	background-image: url("images/staff.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 70px;
	margin: auto;
}

.player-1 {
	background-image: url("images/knight-stand.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px 60px;
	margin: auto;
}

.player-2 {
	background-image: url("images/wizard-stand.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px 70px;
	margin: auto;
}


/*=========== Modal Window =============*/

.modal,
.modal-two {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/* background-color: rgb(50, 50, 50); */
	background: linear-gradient(180deg, rgba(135,0,0,1) 0%, rgba(2,0,36,1) 100%, rgba(209,209,209,1) 100%);
}


/* Modal Content */

.opening-text {
	text-align: center;
	font-size: 2rem;
	color: #1ea238;
	margin: 100px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.instructions {
	border-radius: 5px;
	padding: 30px;
	width: 60%;
	margin: 0px auto 15px auto;
	text-align: justify;
}

.end-title {
	font-size: 80px;
	color: #1ea238;
	text-shadow: 4px 10px 6px #000;
}

.fight {
	font-size: 80px;
	color: #1ea238;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
}

.modal-content-two {
	background-image: url("images/hero.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
	background-attachment: fixed;
	color: #1ea238;
	text-shadow: 4px 8px 6px #000;
	margin: auto;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #222;
	width: 100%;
	height: 100%;
}


/* The Close Button */

.close,
.rematch {
	margin: 5px;
	width: 150px;
	height: 50px;
	border-radius: 3px;
	border: 2px solid #FF6F4F;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
	outline: none;
	background: transparent;
}

.close:hover,
.rematch:hover {
	background: #FF6F4F;
}

/******** Opening screen modal ***********/

.modal-content {
	display: block;
}

.dragon-one {
	height: 300px;
	width: 400px;
}

.dragon-two {
	height: 300px;
	width: 400px;
	transform: rotateY(180deg);
}

/******** Rules button modal ***********/

.rules-modal {
	display: none;
	background-image: url("images/modal-scrool.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
	margin: 200px auto;
	width: 600px;
}

.modal-content ul {
	text-align: start;
	margin-left: 100px;
	padding-top: 120px;
	line-height: 28px;
}

.modal-content li {
	word-spacing: 3px;
	letter-spacing: 1px;
	display: block;
	font-size: 16px;
	width: 75%;
}

.stamp {
	width: 50px;
}

.close-btn {
	color: #000;
	float: right;
	font-size: 4rem;
	transition: 1s;
}

.close-btn:hover,
.close-btn:focus {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

/*======== animations =========*/

#winner-phrase {
	animation-name: winner-animation;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-delay: 0s;
}

@keyframes winner-animation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}


#end-title {
	-webkit-animation-name: end-title-animation;
	        animation-name: end-title-animation;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-timing-function: ease-out;
	        animation-timing-function: ease-out;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}

@-webkit-keyframes end-title-animation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes end-title-animation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/***********************************/